body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    line-height: 1.3;
}
.fz13 {
    font-size: 13pt !important;
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.mt-20 {
    margin-top: 20px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.ml-40 {
    margin-left: 40px !important;
}
.txt-center {
    text-align: center !important;
}
.txt-italic {
    font-style: italic !important;
}
.area-txt-dot {
    display: flex;
    gap: 8px;
    margin-bottom: 2px;
}
.txt-dot {
    display: flex;
    width: 100%;
}
.txt-dot.w-30 {
    width: 29%;
}
.txt-dot.w-34 {
    width: 33%;
}
.txt-dot.w-35 {
    width: 34%;
}
.txt-dot.w-25 {
    width: 24%;
}
.txt-dot.w-31 {
    width: 30%;
}
.txt-dot.w-40 {
    width: 39%;
}
.txt-dot.w-50 {
    width: 49%;
}
.txt-dot .dot {
    flex: 1;
    border-bottom: 2px dotted black;
    margin-bottom: 5px;
}
.txt-dot .dot.dot-30 {
    max-width: 30px;
    width: 100%;
}
#selectMarginFile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21cm;
    margin: 10px auto;
    column-gap: 10px;
}
#selectMarginFile .areaInput {
    display: flex;
    align-items: center;
}
#selectMarginFile .areaInput label {
    width: 35%;
}
#selectMarginFile .areaInput input {
    width: 65%;
    text-align: center;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #768192;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 0.25rem;
    transition: border-color 0.15sease -in-out, box-shadow 0.15sease -in-out;
}
.filterUser {
    width: 595.28pt;
    margin: 0 auto;
}
.filterUser .selectStyle {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #768192;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 0.25rem;
    transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
}

.card-detail {
    width: 595.28pt;
    min-height: 841.89pt;
    padding: 0 0 1cm 0;
}
.inputStyle {
    border: 0;
    border-bottom: 1px dashed #000;
    flex: 1; 
    min-width: 50px;
    width: 100%;
    font-size: 14pt;
    font-family: "Times New Roman", Times, serif !important;
}
.inputStyle.small-20{
    max-width: 20px !important;
    min-width: 20px !important;
}
.inputStyle.small-25{
    max-width: 25px !important;
    min-width: 20px !important;
}
.inputStyle.small-30{
    max-width: 30px !important;
    min-width: 20px !important;
}
.inputStyle.small-40{
    max-width: 40px !important;
    min-width: 20px !important;
}
.inputStyle.small-50{
    max-width: 50px !important;
    min-width: 20px !important;
}
.inputStyle.small-80{
    max-width: 80px !important;
    min-width: 20px !important;
}
.inputStyle.small-90{
    max-width: 90px !important;
    min-width: 20px !important;
}
.inputStyle.small-100{
    max-width: 100px !important;
    min-width: 20px !important;
}
.inputStyle.small-120{
    max-width: 120px !important;
    min-width: 20px !important;
}
.inputStyle.small-130{
    max-width: 130px !important;
    min-width: 20px !important;
}
.inputStyle.small-140{
    max-width: 140px !important;
    min-width: 20px !important;
}
.inputStyle.small-150{
    max-width: 150px !important;
    min-width: 20px !important;
}
.inputStyle.small-170{
    max-width: 170px !important;
    min-width: 20px !important;
}
.inputStyle.small-200{
    max-width: 200px !important;
    min-width: 20px !important;
}
.inputStyle.small-250{
    max-width: 250px !important;
    min-width: 20px !important;
}
.inputStyle.small-300{
    max-width: 300px !important;
    min-width: 20px !important;
}
.inputStyle.small-350{
    max-width: 350px !important;
    min-width: 20px !important;
}
.inputStyle.date{
    max-width: 30px !important;
    min-width: 20px !important;
}
.inputStyle.year{
    max-width: 50px !important;
    min-width: 20px !important;
}
.inputStyle.dateMonthYear{
    max-width: 100px !important;
    min-width: 20px !important;
}
#document {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    padding: 2cm 1.5cm 0 3cm;
    width: 210mm;
}
#document .cardHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0;
    margin-bottom: 20px;
    font-size: 14pt;
}
#document .cardHeader.center {
    justify-content: center;
}
#document .cardHeader .centerHeader{
    text-align: center;
}
#document .cardHeader .leftHeader {
    text-align: center;
}
#document .cardHeader .leftHeader .txt ,
#document .cardHeader .centerHeader .txt,
#document .cardHeader .centerHeader .txt{
    font-size: 14pt;
}
#document .cardHeader .leftHeader .txt .inputStyle {
    border: 0;
    border-bottom: 1px dashed #000;
    width: 30px;
    text-align: center;
}
#document .cardHeader .leftHeader .txt .inputStyle.inputNumber {
    width: 50px;
}
#document .cardHeader .leftHeader .txtItalic,
#document .cardHeader .rightHeader .txtItalic {
    font-style: italic;
}
#document .cardHeader .leftHeader .txt.number,
#document .cardHeader .rightHeader .txt:last-child {
    margin-top: 10px;
}
#document .cardHeader .rightHeader {
    text-align: center;
}
#document .cardHeader .halfLineBottom{
    position: relative;
    display: inline-block;
}
#document .cardHeader .halfLineBottom::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background: #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#document .cardHeader .fullLineBottom{
    position: relative;
    display: inline-block;
}
#document .cardHeader .fullLineBottom::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* body */
#document .cardBody {
    margin-bottom: 5px;
}
#document .cardBody .areaTitle {
    margin-bottom: 20px;

}
#document .cardBody .areaTitle .title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
}
#document .cardBody .areaTitle .subTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    font-weight: bold;
}
#document .cardBody .cardInfo {

}
#document .cardBody .cardInfo .areaInfo {
    margin-bottom: 2px;
}
#document .cardBody .cardInfo .areaInfo.row{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
#document .cardBody .cardInfo .areaInfo .w-75 {
    width: 74%;
}
#document .cardBody .cardInfo .areaInfo .w-70 {
    width: 69%;
}
#document .cardBody .cardInfo .areaInfo .w-60 {
    width: 59%;
}
#document .cardBody .cardInfo .areaInfo .w-50 {
    width: 49%;
}
#document .cardBody .cardInfo .areaInfo .w-40 {
    width: 39%;
}
#document .cardBody .cardInfo .areaInfo .w-30 {
    width: 29%;
}
#document .cardBody .cardInfo .areaInfo .w-25 {
    width: 24%;
}
#document .cardBody .cardInfo .areaInfo .w-20 {
    width: 19%;
}

#document .cardBody .cardInfo .areaInfo .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
#document .cardBody .cardInfo .areaInfo .info .label {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
}
#document .cardBody .cardInfo .areaInfo .info .inputStyle {
    border: 0;
    border-bottom: 1px dashed #000;
    flex: 1; 
    min-width: 50px;
    font-size: 14pt;
    font-family: "Times New Roman", Times, serif;
}
#document .cardBody .cardInfo .areaInfo .info .label .content {
    margin-left: 5px;
}
.cardFooter {

}
.cardFooter .signature {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 30px;
}
.cardFooter .signature .areaSignature {

}
.cardFooter .signature .areaSignature .titleSignature {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;

}
.cardFooter .signature .subTitleSignature {
    font-size: 11pt;
    text-align: center;
    font-style: italic;
}
.cardFooter .signature .areaSignature .contentSignature {
    width: 100%;
    height: 80px;
}
.cardFooter .signature .areaSignature .fullNameSignature {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    /* text-transform: uppercase; */
}
.cardFooter .signature .areaSignature .fullNameSignature .inputStyle {
    text-align: center;
    font-size: 14pt;
    border: 0;
    border-bottom: 1px dashed #000;
    width: 100%;

}
.cardFooter .note {
    margin-top: 40px;
}
.cardFooter .note .title {
    font-size: 12pt;
    font-weight: bold;
}
.cardFooter .note .txt {
    font-size: 11pt;
}

