table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12pt;
    border: 1px solid black;
    /* width: 550pt; */
    /* margin-left: -1.5cm; */
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

th {
    font-weight: bold;
}
.card-detail {
    width: 297mm;
    min-height: 210mm;
    height: 100%;
}
.filterUser {
    margin-bottom: 10px;
}
#document {
    font-family: "Times New Roman", Times, serif;
    border-radius: 10px;
    padding: 2cm 1.5cm 1.5cm 1.5cm;
    width: 297mm;
}
#document .cardBody .areaTitle {
    margin-bottom: 20px;
    text-align: center;
}
#document .cardBody .areaTitle .title {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}
#document .cardBody .areaTitle .subTitle {
    font-size: 12pt;
    font-weight: 500;
}
.cardFooter .signature {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px 0 80px;
}
.cardFooter .signature .areaSignature {
    margin-top: 15px;
}