#document .cardHeader {
    position: relative;
}
#document .cardHeader .areaSampleTGI{
    position: absolute;
    right: -10px;
    top: -12px;
    font-size: 9pt;
    text-align: center;
}
.cardFooter .signature {
    margin: 0;
}