#document {
    padding: 2cm 1.5cm 0 2.5cm;
}
.areaSalutation {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.areaSalutation label {
    font-style: italic;
}
.areaSalutation .contentSalutation span{
    display: block;
}
#document .cardBody .cardInfo .areaInfo {
    margin-bottom: 8px;
}
#document .cardBody {
    margin-bottom: 20px;
}
.cardFooter .signature {
    margin: 0 50px 0 30px;
}
