
.menu {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.areaTable {
    
}
.areaTable .tableFilter {
    display: flex !important;
    align-items: center;
    gap: 10px;
    float: left;
}
.areaTable #dataTable_wrapper {
    overflow-x: auto;
}
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}
table.dataTable {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
}
table.dataTable thead th { 
    text-align: center;
}
table.dataTable th {
    background: #4167AF;
    color: #FFFFFF;
}
table.dataTable tbody tr {
    background-color: #EBF9FF; 
}

/* table.dataTable tbody tr:nth-child(even) {
background-color: #F9FAFB;
} */
th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
table.dataTable tbody td {
    text-align: center;
    /* border: 1px solid black; */
    height: 100%;
    vertical-align: middle;
}

table.dataTable tbody td.action {
}
table.dataTable tbody .btn-action {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 0;
}
table.dataTable tbody .btn-action .icon {
    width: 15px;
    height: 15px;
    filter: invert(1);
    margin-right: 5px;
    /* vertical-align: middle; */
    vertical-align: text-bottom;
}