<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/change-password.css">
</head>

<body>
    <div id="header">
        <div class="inner">
            <div class="hdMenu">
                <ul class="mainMenu">
                    <li><a href="javascript:void(0)" class="btnBack"><img src="../assets/images/icon/icon-back.svg"
                                alt="Trở lại" class="icon">Quay lại</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="fixH"></div>
    <div id="content">
        <div class="inner">
            <div class="card">
                <form id="changePassword" class="areaForm">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="label" for="password_current">Mật khẩu cũ:</label>
                            <div class="wrapInput">
                                <div class="areaInputPassword">
                                    <input type="password" id="password_current" class="inputStyle"
                                        name="password_current" placeholder="Nhập mật khẩu cũ">
                                    <img src="../assets/images/icon/eye-off-svgrepo-com.svg" class="iconEye eyeOff"
                                        alt="">
                                    <img src="../assets/images/icon/eye-svgrepo-com.svg" class="iconEye eye hidden"
                                        alt="">
                                </div>
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="password">Mật khẩu mới:</label>
                            <div class="wrapInput">
                                <div class="areaInputPassword">
                                    <input type="password" id="password" class="inputStyle" name="password"
                                        placeholder="Nhập mật khẩu mới">
                                    <img src="../assets/images/icon/eye-off-svgrepo-com.svg" class="iconEye eyeOff"
                                        alt="">
                                    <img src="../assets/images/icon/eye-svgrepo-com.svg" class="iconEye eye hidden"
                                        alt="">
                                </div>
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="password_confirm">Nhập lại mật khẩu mới:</label>
                            <div class="wrapInput">
                                <div class="areaInputPassword">
                                    <input type="password" id="password_confirm" class="inputStyle"
                                        name="password_confirm" placeholder="Nhập lại mật khẩu mới">
                                    <img src="../assets/images/icon/eye-off-svgrepo-com.svg" class="iconEye eyeOff"
                                        alt="">
                                    <img src="../assets/images/icon/eye-svgrepo-com.svg" class="iconEye eye hidden"
                                        alt="">
                                </div>
                                <div class="error"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-secondary btnBack">Huỷ bỏ</button>
                        <button type="submit" class="btn btn-primary float-right">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../renderer/change-password.js"></script>
</body>

</html>