<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Đề xuất thăm gặp</title>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/procedure/detail.css">
    <link rel="stylesheet" href="../../assets/css/procedure/visit-proposal.css">
    <script src="../../node_modules/tinymce/tinymce.min.js"></script>
</head>

<body>
    <div id="header">
        <div class="inner">
            <div class="hdMenu">
                <ul class="mainMenu">
                    <li><a href="javascript:void(0)" id="btnBack"><img src="../../assets/images/icon/icon-back.svg"
                                alt="Trở lại" class="icon">Quay lại</a></li>
                </ul>
                <ul class="mainMenu">
                    <!-- <li><a href="javascript:void(0)" id="exportWord">Xuất Word</a></li> -->
                    <li><a href="javascript:void(0)" id="exportPdf" data-title="Đề xuất thăm gặp"><img src="../../assets/images/icon/export-file.svg" class="icon"/>Xuất PDF</a></li>
                    <!-- <li><a href="javascript:void(0)" id="previewPdf">Xem trước PDF</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div id="fixH"></div>
    <div id="content">
        <div class="inner">
            <div id="selectMarginFile">
                <div class="areaInput">
                    <label for="paper-margin-top">Lề trên:</label>
                    <input type="number" id="paper-margin-top" value="2">
                </div>
                <div class="areaInput">
                    <label for="paper-margin-right">Lề phải:</label>
                    <input type="number" id="paper-margin-right" value="1.5">
                </div>
                <div class="areaInput">
                    <label for="paper-margin-bottom">Lề dưới:</label>
                    <input type="number" id="paper-margin-bottom" value="0">
                </div>
                <div class="areaInput">
                    <label for="paper-margin-left">Lề trái:</label>
                    <input type="number" id="paper-margin-left" value="3">
                </div>
            </div>
            <div id="textPdf" class="card card-detail">
                <div id="document">
                    <div class="cardHeader">
                        <div class="leftHeader">
                            <p class="txt">CÔNG AN THÀNH PHỐ HUẾ</p>
                            <p class="txt bold halfLineBottom">TRẠI TẠM GIAM</p>
                            <p class="txt">Số: <input type="text" class="inputStyle" value=""> /ĐX</p>
                        </div>
                        <div class="rightHeader">
                            <p class="txt bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                            <p class="txt bold fullLineBottom">Độc lập - Tự do - Hạnh phúc</p>
                            <p class="txt txtItalic">Huế, ngày&nbsp;<input type="text" class="inputStyle small-30"
                                    value="">&nbsp;tháng&nbsp;<input type="text" class="inputStyle small-30"
                                    value="">&nbsp;năm&nbsp;<input type="text" class="inputStyle small-50" value=""></p>
                        </div>
                    </div>
                    <div class="cardBody">
                        <div class="areaTitle">
                            <h2 class="title">
                                Đề xuất
                            </h2>
                            <div class="subTitle">
                                Về việc cho người bị tạm giữ, tạm giam gặp thân nhân
                            </div>
                        </div>
                        <div class="areaSalutation ml-40">
                            <label for="">Kính gửi:</label>
                            <div class="contentSalutation">
                                <input type="text" class="inputStyle">
                                <input type="text" class="inputStyle">
                            </div>
                        </div>
                        <div class="cardInfo">
                            <div class="areaInfo">
                                <p class="txt">
                                    &emsp;&emsp;Căn cứ khoản&nbsp;<input type="text" class="inputStyle small-50"
                                        value="1,2,5">&nbsp;điều&nbsp;<input type="text" class="inputStyle small-30"
                                        value="22">&nbsp;luật thi hành tạm giữ, tạm giam quy định việc
                                    gặp thân nhân của người bị tạm giữ, tạm giam;
                                </p>
                            </div>
                            <div class="areaInfo">
                                <p class="txt">
                                    &emsp;&emsp;Căn cứ điều&nbsp;<input type="text" class="inputStyle small-30"
                                        value="4">&nbsp;thông tư&nbsp;<input type="text" class="inputStyle small-150" value="34/2017/TT-BCA">&nbsp;ngày&nbsp;<input type="text" class="inputStyle small-100" value="19/09/2017">&nbsp;của Bộ Công an,
                                    quy định về việc cho người bị tạm giữ, tạm giam gặp thân nhân; nhận quà; gửi nhận
                                    thư, sách báo, tài liệu;
                                </p>
                            </div>
                            <div class="areaInfo">
                                <p class="txt">
                                    &emsp;&emsp;Căn cứ vào nhân thân, tính chất vụ án, thái độ chấp hành nội quy của
                                    người bị tạm giữ, tạm giam;
                                </p>
                            </div>
                            <div class="areaInfo">
                                <p class="txt">
                                    &emsp;&emsp;Đối chiếu sổ theo dõi thăm gặp và thông báo số người bị tạm giữ, tạm
                                    giam không được gặp mặt hoặc gặp mặt có giám sát của cơ quan thụ lý vụ án (do đội
                                    tham mưu cung cấp).
                                </p>
                            </div>
                            <div class="areaInfo ml-40">
                                <div class="info">
                                    <label for="name_other" class="label">Tôi:</label>
                                    <input type="text" class="inputStyle">
                                </div>
                            </div>
                            <div class="areaInfo">
                                <div class="info">
                                    <label for="name_other" class="label">&emsp;&emsp;&nbsp;Chức vụ:</label>
                                    <input type="text" class="inputStyle"
                                        value="Đội trưởng Đội Quản giáo.">
                                </div>
                            </div>
                            <div class="areaInfo">
                                <div class="txt">
                                    &emsp;&emsp; Đề xuất đồng chí Giám thị cho&nbsp;<input type="text"
                                        class="inputStyle small-170">&nbsp;có tên trong danh sách kèm theo được gặp mặt
                                    người thân.
                                </div>
                            </div>
                            <div class="areaInfo">
                                <div class="info">
                                    <p for="name_other" class="label">&emsp;&emsp;Kính đề xuất đồng chí Giám thị xem
                                        xét, quyết định./.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cardFooter">
                        <div class="signature">
                            <div class="areaSignature">
                                <h3 class="titleSignature">Ý kiến của giám thị</h3>
                                <div class="contentSignature"></div>
                            </div>
                            <div class="areaSignature">
                                <h3 class="titleSignature">Người đề xuất</h3>
                                <div class="contentSignature"></div>
                                <h3 class="fullNameSignature">
                                    <input type="text" class="inputStyle" value="" placeholder="Họ và tên">
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script src="../../vendor/select2/dist/js/select2.min.js"></script>
    <script src="../../renderer/procedure/detail.js"></script>
    <script src="../../renderer/procedure/visit-proposal.js"></script>
    <!-- <script src="../../renderer/export-word.js"></script> -->
</body>

</html>