
.menu {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.areaTable {
    
}
.areaTable .tableFilter {
    display: flex !important;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.dataTables_wrapper .dataTables_filter{
    float: none;
}
.areaTable .areaDataTable {
    overflow-x: auto;
    margin-top: 15px;
}
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
table.dataTable thead th { 
    text-align: center;
}
th, td {
    padding: 10px;
}
table.dataTable tbody td {
    text-align: center;
    /* border: 1px solid black; */
    height: 100%;
    vertical-align: middle;
}

table.dataTable tbody td.action {
}
table.dataTable tbody .btn-action {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 0;
}
table.dataTable tbody .btn-action .icon {
    width: 15px;
    height: 15px;
    filter: invert(1);
    /* margin-right: 5px; */
    /* vertical-align: middle; */
    vertical-align: text-bottom;
}
.areaCountCriminal{
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
}
.areaListCountCrime {
    display: flex;
    justify-items: center;
}
.areaListCountCrime li{
    display: inline-block;
    margin-right: 10px;
}
#dataTable th, #dataTable td {
    border: 1px solid #ccc;
}

#dataTable {
    border-collapse: collapse;
    width: 2355px !important
}
#dataTable th {
    background: #4167AF;
    color: #FFFFFF;
}
table#dataTable {
background-color: #FFFFFF; 
}

table#dataTable tbody tr {
background-color: #EBF9FF; 
}

/* table#dataTable tbody tr:nth-child(even) {
background-color: #F9FAFB; 
} */
#dataTable th:last-child{
    /* display: inline-block; */
}
#dataTable td:nth-child(2),
#dataTable td:nth-child(7),
#dataTable td:nth-child(8),
#dataTable td:nth-child(17),
#dataTable td:nth-child(20){
    width: 100px;
}
#dataTable td:nth-child(9),
#dataTable td:nth-child(12),
#dataTable td:nth-child(15),
#dataTable td:nth-child(16),
#dataTable td:nth-child(21),
#dataTable td:last-child, 
#dataTable th:last-child {
    width: 150px;
}
table.dataTable tbody tr>.dtfc-fixed-left, table.dataTable tbody tr>.dtfc-fixed-right {
    background-color: #EBF9FF;
}
/* Ghi đè màu nền và shadow của các cột cố định */
.dtfc-fixed-left td {
    background-color: #e9f7fd !important; /* Màu nền bảng */
    box-shadow: none !important;
    z-index: 2;
}

/* Loại bỏ border trắng nếu có */
.dtfc-fixed-left {
    border-right: 1px solid #ccc !important;
}

/* Đảm bảo phần còn lại khớp nền */
table.dataTable tbody td {
    background-color: #e9f7fd !important;
}
#dataTable th.stt,
#dataTable td.stt {
    width: 30px !important;
}
#dataTable th.lastName,
#dataTable td.lastName {
    width: 105px !important;
    left: 65.1406px !important;
}
#dataTable th.firstName,
#dataTable td.firstName {   
    width: 33px !important;
    left: 178px !important;
}
#dataTable th.gender,
#dataTable td.gender {
    width: 32px !important;
    left: 246px !important;
}
#dataTable th.birthYear,
#dataTable td.birthYear {
    width: 33px !important;
    left: 314px !important;
}
table#dataTable tbody tr > .dtfc-fixed-left{
    background-color: #e9f7fd !important;
}