<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Danh sách</title>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/datatables.min.css">
    <link rel="stylesheet" href="../../assets/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="../../assets/css/criminals/list.css">
</head>

<body>
    <div id="header">
        <div class="inner">
            <!-- <h1 class="headerTitle">Danh sách</h1> -->
            <div class="hdMenu">
                <ul class="mainMenu">
                    <li><a href="javascript:void(0)" id="btnBack"><img src="../../assets/images/icon/icon-back.svg"
                                alt="Trở lại" class="icon">Quay lại</a></li>
                </ul>
                <ul class="mainMenu" id="menu">
                </ul>
            </div>
        </div>
    </div>
    <div id="fixH"></div>
    <div id="content">
        <div class="inner">
            <div class="areaCountCriminal">
                <div class="areaListCountCrime">
                    <p>Tổng: <span class="totalCrime"></span> (phạm nhân)&nbsp;|&nbsp;</p>
                </div>
                <div class="areaListCountCrime">
                    <ul class="listCrimeGender">
                    </ul>
                </div>
                <div class="areaListCountCrime">
                    <ul class="listCrimeZone">
                    </ul>
                    <p>(phạm nhân)</p>
                </div>
            </div>
            <div class="areaTable">
                <div class="tableFilter">
                    <label for="filterKhu">Khu:</label>
                    <select id="filterKhu">
                        <option value="">Tất cả</option>
                    </select>

                    <label for="filterBuong">Buồng:</label>
                    <select id="filterBuong">
                        <option value="">Tất cả</option>
                    </select>

                    <label for="filterNoVisit">Cấm gặp:</label>
                    <select id="filterNoVisit">
                        <option value="">Tất cả</option>
                    </select>
                </div>
                <div>
                    <table id="dataTable">
                        <thead>
                            <tr>
                                <th class="stt">STT</th>
                                <th class="lastName">Họ</th>
                                <th class="firstName">Tên</th>
                                <th class="gender">Giới tính</th>
                                <th class="birthYear">Ngày sinh</th>
                                <th>Dân tộc</th>
                                <th>Quốc tịch</th>
                                <th>Quê quán</th>
                                <th>Hktt</th>
                                <th>Khu</th>
                                <th>Buồng</th>
                                <th>Tội</th>
                                <th>Ngày bắt</th>
                                <th>Ngày nhập</th>
                                <th>Lệnh</th>
                                <th>Đơn vị thụ lý</th>
                                <th>Nhận xét</th>
                                <th>Cấm thăm gặp</th>
                                <th>Thời gian cấm gặp</th>
                                <th>Bệnh</th>
                                <th>Ghi chú</th>
                                <th>Gặp</th>
                                <th>Gửi</th>
                                <th class="action"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script src="../../assets/js/datatables.min.js"></script>
    <script src="../../assets/js/dataTables.fixedColumns.min.js"></script>
    <script src="../../renderer/criminals/list.js"></script>
</body>

</html>